* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  position: relative;
}
article {
  position: relative;
}
section {
  position: relative;
}
header {
  position: relative;
}
footer {
  position: relative;
  background: rgba(246, 247, 146, 0.9);
  clear: both;
  color: #ffffff;
  padding: 1em 5%;
  width: 50%;
}
footer a {
  margin-right: 0.5em;
}
nav {
  position: relative;
}
figure {
  position: relative;
}
li {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0.5em 0;
}
.group:after {
  display: block;
  height: 0;
  font-size: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
::-moz-selection {
  background: #333;
  color: #ffffff;
}
::selection {
  background: #333;
  color: #ffffff;
}
body {
  color: #333333;
  font-family: "tablet-gothic", verdana, arial, sans-serif;
  background: #77c4d3;
}
input {
  color: #333333;
}
textarea {
  color: #333333;
}
h2 {
  font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-weight: 900;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}
h3 {
  font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
  font-weight: normal;
  font-size: 2.25em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}
h1 {
  font-weight: normal;
  background: #ea2e49;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
h6 {
  font-weight: normal;
}
a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333333;
  text-decoration: none;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: #ea2e49;
}
section.intro {
  padding: 5%;
}
section.intro div.summary {
  color: #ffffff;
  padding: 15% 0;
}
section.intro div.summary p {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
section.intro div.summary p a {
  color: #ffffff;
}
section.intro div.summary p:last-child {
  border-top: 1px solid #ea2e49;
  margin-top: 1em;
  padding-top: 1.5em;
}
section.intro div.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: #333333;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}
div.explanation {
  color: #ffffff;
  padding: 5%;
}
div.explanation p a {
  color: #ffffff;
}
div.participation {
  background: rgba(234, 46, 73, 0.9);
  color: #ffffff;
  padding: 5%;
}
div.participation p a {
  color: #ffffff;
}
div.participation p a:hover {
  border-color: #ffffff;
}
p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0.5em 0;
}
div.requirements {
  background: rgba(255, 255, 255, 0.9);
  padding: 5%;
}
div.requirements p:last-child {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-top: 1px solid #ea2e49;
  margin-top: 1em;
  padding-top: 1.5em;
}
em {
  font-style: normal;
  font-weight: 400;
}
strong {
  font-style: normal;
  font-weight: 400;
}
html {
  background: #daede2;
  padding: 5%;
}
div.page-wrapper {
  z-index: 2;
}
div.main {
  padding: 5%;
}
aside.sidebar {
  background: rgba(246, 247, 146, 0.9);
  padding: 5%;
}
aside.sidebar ul {
  padding: 0.5em 0 2em 0;
}
aside.sidebar ul li {
  color: rgba(0, 0, 0, 0.4);
  list-style: none;
  margin: 0;
  padding: 0 0 0.825em 0;
}
div.benefits {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 10%;
  padding: 5%;
}
@media screen and (min-width: 1px) {
  body {
    font-size: 85%;
  }
}
@media screen and (min-width: 550px) {
  h2 {
    font-size: 8em;
  }
  section.intro {
    width: 66.6%;
  }
  aside.sidebar {
    position: absolute;
    right: 0;
    top: 2.5%;
    width: 32.75%;
  }
  div.extra1 {
    background: rgba(51, 55, 69, 0.9);
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 30%;
    z-index: 1;
  }
  div.explanation {
    float: left;
    width: 50%;
  }
  div.participation {
    float: left;
    width: 49%;
  }
  div.benefits {
    float: left;
  }
  div.requirements {
    float: left;
  }
}
@media screen and (min-width: 650px) {
  div.benefits {
    margin-top: 12%;
    width: 30%;
  }
  div.requirements {
    width: 69%;
  }
}
@media screen and (min-width: 700px) {
  body {
    font-size: 90%;
  }
}
@media screen and (min-width: 800px) {
  body {
    font-size: 100%;
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 110%;
  }
}
@media screen and (min-width: 1500px) {
  body {
    font-size: 125%;
  }
}
@media screen and (min-width: 1800px) {
  body {
    font-size: 150%;
  }
}
@media screen and (min-width: 2100px) {
  body {
    font-size: 175%;
  }
}
@media screen and (min-width: 2500px) {
  body {
    font-size: 200%;
  }
}
