/*Instructions*/
/*Create a simple webpage that has a full-width navigation bar, with text of your choice at*/
/*either end of the bar. Below this, create a 2-column newspaper layout of text (use*/
/*lorem-ipsum for filler text). Your columns should have a sizable margin on either side so that they are not occupying the full width of the page.*/
/*Choose some appropriate colors as backgrounds for each of your elements so that they can be clearly seen*/
/*Modify your page so that when the viewport is smaller than 700px, the layout converts to a stacked-column layout, with each column of text occupying the full width of the page.*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

div {
    display: block;
}

.container {
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    display: none;
}

.nav {
    border: 1px solid black;
    width: auto;
    height: 1em;
    background: lightgreen;
    padding: 0.5em;
}

.nav1 {
    float: left;
    position: relative;
}

.nav2 {
    float: right;
    position: relative;
}

.col {
    margin-left: 10%;
    margin-right: 10%;
}

.col1, .col2 {
    float: left;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    width: 40%;
    background: lightblue;
}

@media (max-width: 700px) {
    div {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
    }

    .col, .col1, .col2 {
        margin: 0;
        float: none;
        width: auto;
    }
}